.foobar_form {
	padding:0px;
	margin:0px;
}
.foobar_form div{
	margin-bottom:10px;
}
.foobar_form label{
	float: left;
	width: 115px;
	text-align:right;
	padding-right:10px;
	color: #003399;
}

.foobar_form input, .foobar_form textarea{
	width:220px;
}

.foobar_form #submitbutton,.search_form #submitbutton,  .foobar_form #submit{
	width: auto;
}

.foobar_form br{
	clear: left;
}


#error {
	color:red;
	font-weight:normal;
	padding:5px;
	margin:0px;
}     
#login_result {
	font-weight:bold;
}
.edit_form {
	float:left;
	padding-right:40px;
}
.edit_form input, .edit_form textarea{
	width:300px;
}
.search_form label{
	padding-right:10px;
	color: #003399;
}
.search_form input.grey{
	color:#999999;
}
form#create_form label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic;
	float:none;
}  




