/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color:#DFEDCB;
	border:1px solid #BCE1F4;
	font-size: 12px;
	padding: 8px;
	font-weight:bold;
	color: #27537A;
}
table.tablesorter thead tr .header {
	background-image: url('http://sandbox01.corp.foobar.com/webroot/images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 8px 8px;
	background-color: #FFF;
	vertical-align: center;
	border:1px solid #BCE1F4;
}
table.tablesorter tbody td a img {
	border:none;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url('http://sandbox01.corp.foobar.com/webroot/images/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('http://sandbox01.corp.foobar.com/webroot/images/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #D6E9C1;
}
table, td{border-collapse:collapse;}

